<div class="basket">

<h1>Product name</h1>
<h1>Price</h1>
<h1>Quantity</h1>
<h1>Total</h1>
<% @baskets.each do |basket| %>

<p> <%= link_to basket.product.name , product_path(basket.product.id) %></p>
<p> <%= basket.product.price%> </p>
<p id=<%= basket.id %> >  <%= basket.quantity %></p>
<p> <%= basket.quantity*basket.product.price  %> </p>
<div>
<%= button_to  "delete", basket_path(basket.id),method: :delete %>
<button class="editcard" value="<%= basket.id %>/<%=basket.product.id%>">edit</button>
</div>
<% end %>

<div id="renderForm" class="addcardform" ></div>

</div>
<%= javascript_pack_tag 'editbasketitem' %>