<div class="form">

    <%= form_tag( both_details_path , method: "post") do |f| %>
    <div class="field">
        <%= label_tag(:adress, "Your Adress:") %>
        <%= text_field_tag(:adress) %><br>
    </div>
    <div class="field">
        <%= label_tag(:shipping_adress, "Your Shepping Adress:") %>
        <%= text_field_tag(:shipping_adress) %><br>
    </div>
    <div class="field">
        <%= label_tag(:product_type, "Your Product Category:") %><br>
        <%= select(:sel_detail ,:product_type, [['general', 'general'], ['computer', 'computer'], ['monitors', 'monitors'], ['components', 'components'], ['others', 'others']], {},{:class => 'selecttype'}) %><br />
    </div>
    <div class="field">
        <%= submit_tag("Complete the account",class:"bluebutton") %>
    </div>



    <% end %>
</div>