<div id="addTocardForm" class = "addTocardForm">

<%= form_for @basket do |f|%>
    <%= @product.name %><br />
    <%= @product.price %><br />
    <%= f.number_field :quantity %> <span>Quantity</span><br />
    <%= f.submit "Add to Card" %>
<% end %>

</div>