<div class="profile_products">
    <h2>My products</h2>
    <% current_user.goods.each do |product| %>
    <div class='product-card'>
        <%= image(product) %>
        <div class="product">
            <%= link_to product.name , product_path(product.id) %>

            <div class="buttom-card">
                <span><%= promotion(product) %> </span>
                <%= button_to  "remove promotion", product_path(product.id),:params => {product:{promotion: 0}} ,:method => :patch %>
                <span> Number of selles : <%= product.selletimes%> </span>
            </div>
        </div>
    </div>
    <% end %>

</div>