<div class="profile">
    <div class="profile_info">
        <h2><%= current_user.name %></h2>
        <p> <%= current_user.email %> </p>
        <%= link_to  edit_user_registration_path(current_user.id) ,class: "edit-item profile_icon" do %>
        <i class="fas fa-pen "></i>
        <% end %>
    </div>
    <%= sellerprofile(current_user) %>
    <div class="profile_comments_container">
        <h2>My comments</h2>
        <%= when_null(current_user.comments.length > 0, "You have no comments yet.")%>
        <% current_user.comments.each do |comment| %>
        <p class="profile_comment"> <%= comment.content %> </p>
        <% end %>
    </div>
    <div>