<h1>My orders</h1>

<ul class="order_row">
    <li>Product</li>
    <li>Price</li>
    <li>Quantity</li>
    <li>Total</li>
    <li>Customer Adress</li>
</ul>
<% @orders.each do |order| %>
<div class="basket">
    <div class="product-basket">
        <%= image(order.product) %>
        <p> <%= link_to order.product.name , product_path(order.product.id) %></p>
    </div>
    <p> <%=  order.product.price - (order.product.price * order.product.promotion)/100 %> </p>
    <p id=<%= order.id %>> <%= order.quantity %></p>
    <p id="totalfor<%= order.id %>"> <%= order.quantity*(order.product.price - (order.product.price * order.product.promotion)/100 )  %> </p>
    <%= order.adress %>
</div>
<%end%>