<%= form_for @product do |f| %>
    <%= f.label "Product Name"%><br />
    <%= f.text_field :name %><br />
    <%= f.label "Description"%><br />
    <%= f.text_field :description %><br />
    <%= f.label "Price"%><br />
    <%= f.number_field :price %> <span>$</span><br />
    <%= f.label "Product category" %><br />
    <%= select(:product ,:categ, [['general', 'general'], ['computer', 'computer'], ['monitors', 'monitors'], ['components', 'components'], ['others', 'others']]) %><br />
    <%= f.submit "Update Product" %>
<% end %>

