


<div class="header-products">
<div class = "mostselled">
    <%= image(@mostselles) %>
<div class ="product">
<%= link_to @mostselles.name , product_path(@mostselles.id) %>
<button class="addtocard" value=<%= @mostselles.id %>  type='button'> add to card</button>
</div>

</div>


<div class="hurryup-section">
<h1>Hurry Up</h1>
<% @hurryup.each do |product| %>
<div class='product-card'>
    <%= image(product) %>
    <div class ="product">
    <%= link_to product.name , product_path(product.id) %>
    
<p><%= product.description[0..100] %></p>
<div class="buttom-card">
<span><%= product.price %> $</span>
<button class="addtocard" value=<%= product.id %>  type='button'><i class="fas fa-cart-plus"></i></button>
</div></div>
</div>

<% end %>
</div>


</div>
<div class='products'>
<% @products.each do |product| %>

<div class='product-card'>
<%= image(product) %>
<div class ="product">
<%= link_to product.name , product_path(product.id) %>
<p><%= product.description[0..100] %></p>
<div class="buttom-card">
<span><%= product.price %> $</span>
<button class="addtocard" value=<%= product.id %>  type='button'><i class="fas fa-cart-plus"></i></button>
</div>


 
 
</div>
</div>

<% end %>


<div id="renderForm" class="addcardform" ></div>
</div>

<%= javascript_pack_tag 'addtocard' %>