 <% @product.errors.full_messages.each do |msg| %>
 <p> <%= msg%> </p>
 <% end %>
 <%= form_for @product do |f| %>


 <%= f.label "Product Image Url"%><br />
 <%= f.text_field :photo %><br />
 <%= f.label "Product Name"%><br />
 <%= f.text_field :name %><br />
 <%= f.label "Description"%><br />
 <%= f.text_field :description %><br />
 <%= f.label "Price"%><br />
 <%= f.number_field :price %> <span>$</span><br />
 <%= f.label "Promotion"  %><br />
 <%= f.number_field :promotion %> <span>%</span><br />
 <%= f.label "Product category" %><br />
 <%= select(:product ,:categ, [['general', 'general'], ['computer', 'computer'], ['monitors', 'monitors'], ['components', 'components'], ['others', 'others']]) %><br />
 <%= f.submit "Create Product" %>
 <% end %>