<div class="productpage-grid">
    <div class="left-produt">
    <%= image(@product) %>
    <span class="pro_price"> <%= promotion(@product) %></span>
    
    <div  >
    <input id="product-stars"  type="hidden" value=<%= @product.avg %> />
    <i class="fas fa-star star1 star2 star3 star4 star5"></i>
    <i class="fas fa-star star2 star3 star4 star5"></i>
    <i class="fas fa-star star3 star4 star5"></i>
    <i class="fas fa-star star4 star5"></i>
    <i class="fas fa-star star5"></i>
    </div>
    </div>
    <div class="right-product">
    <span class="pro_name">  <%= @product.name %> </span>
    <p class="pro_descr"> <%= @product.description %></p>
    </div>
</div>
<div class="reviews">

<div class="statics">
    <h1>Seller details</h1>
    <p>Adress: hsds sdefhoef skdhf  </p>
    <p>Number of Poducts:5 </p>
    <p>Number of selles:10 </p>
    <p> Seller rating:4 </p>
</div>
<div class="comments">
<h1>Customers review</h1>
    <% @comments.each do |cm| %>
        <p class="commenter"><%= cm.customer.name %></p>
       <p class="comment"> <%= cm.content %></p>
    <% end %>
</div>
</div>
<%= javascript_pack_tag 'productpage' %>