<!DOCTYPE html>
<html>
  <head>
    <title>TechStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class='nav'>
  <div>
    <h1>TechStore</h1>
    
      <div class="category">
    <span class="nav-cat">Category</span>
    <div class="category-content">
      <a href="#">cat</a>
      <a href="#">cat</a>
      <a href="#">cat</a>
    </div>
  </div>
  </div>
  </nav>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
